.post-wrapper {
    background-color: #e3e3e3;
    min-width: 300px;
    max-width: 350px;
    padding: 10px;
    margin: 1px;
    font-size: 18px;
    border-radius: 3px;
}

.post-title {
    font-size: 15px;
    margin-bottom: 10px;
}